/* app css stylesheet */
body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.main_logo{
	height: 150px;
	width: 280px;
	vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 40%;
    vertical-align: middle;
}
.grey{
	color: grey;
}
